{% set page = "FAQ" %}
{% extends "base.html" %}
{% block main %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <h2 class="primary-heading">
                FAQ
            </h2>
            <div class="panel-group" id="accordion">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                1. How do I join?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="collapse">
                        <div class="card-body">
                            See the <a href="new-scout.html">New Scout</a> page of this website.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                                2. How old (or young) can a boy be to join Troop 485?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="collapse">
                        <div class="card-body">
                            Boy Scouting is for boys 11 to 17 years of age. Boys also may become Boy Scouts if they have
                            earned the Cub Scouting Arrow of Light Award and are at least 10 years old or have completed
                            the fifth grade and are at least 10 years old.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                                3. Must I be a U.S. citizen to join Troop 485?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="collapse">
                        <div class="card-body">
                            Citizenship is not required of youth or adult members of Troop 485.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
                                4. Where is the meeting location?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="collapse">
                        <div class="card-body">
                            Our regular meeting location is Home of Christ Church in Cupertino 
                            (<a href="https://www.google.com/maps?hl=en&amp;q=HOC5" target="_blank">10340 Bubb Rd,
                            Cupertino</a>)
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
                                5. How often does the troop have an outing?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="collapse">
                        <div class="card-body">
                            We normally have 8-11 outings a year. Outings could be hiking, camping,
                            rafting, archery, or training trip.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">
                                6. Must parents attend meetings?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="collapse">
                        <div class="card-body">
                            Parental involvement is very important and all meetings should be open to
                            your participation.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse7">
                                7. What is a COH?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse7" class="collapse">
                        <div class="card-body">
                            A COH (Court of Honor) is Troop 485’s quarterly meeting to honor the achievements of our
                            Scouts and adult leaders. During this meeting, Scouts are awarded rank advancement and merit
                            badges. We encourage each Scout’s entire family to attend this meeting.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse8">
                                8. What is the buddy system, and why is it necessary?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse8" class="collapse">
                        <div class="card-body">
                            The buddy system is a safety routine that calls for a Scout to be paired with a buddy
                            whenever he participates in Scouting activities such as aquatics, cycling, or hiking, and
                            when he meets with his merit badge counselor. It is a way for Scouts to look after one
                            another, stay safe, and have more fun. During meetings with adult leaders, a Scout’s buddy
                            can be another Scout or friend, or a relative.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse9">
                                9. What is an SPL?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="collapse">
                        <div class="card-body">
                            The Senior Patrol Leader is the youth head of the troop. All other youth positions report to
                            him, directly or indirectly. He is elected by the troop’s youth members as a whole, to serve
                            a 6 month term.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse10">
                                10. Where can I learn all the scout knots?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse10" class="collapse">
                        <div class="card-body">
                            You will learn all the scout knots as well as other scouting skills in our various training
                            programs including the annual TLT (Troop Leader Training).
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse11">
                                11. Can adult women be Boy Scout leaders
                            </a>
                        </h4>
                    </div>
                    <div id="collapse11" class="collapse">
                        <div class="card-body">
                            Yes. Every leadership position is open to adult women. In fact, more than one-third of Scout
                            volunteers are women.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse12">
                                12. How do I tie a square knot?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse12" class="collapse">
                        <div class="card-body">
                            To tie a square knot, take two ropes and cross them (A over B, where A is the end of one
                            rope, and B is the end of another) to form a half knot. Cross them a second time (A over B
                            again) and pull the ends tight to form the Square Knot. For more info on all scouting knots,
                            see <a href="http://www.animatedknots.com/indexscouting.php">animated scouting knots -
                            scounting section</a>, to see just the square knot, go to <a
                                href="http://www.animatedknots.com/reef/index.php?Categ=scouting">the animated knots
                            page on the square knot</a>, to how to tie most of the knots needed for rank requirements or
                            merit badges, go to the <a
                                href="http://www.animatedknots.com/usesscouting.php?Categ=scouting">animated knots page
                            for scouting requirements</a>.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse13">
                                13. Where can I get scouting supplies?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse13" class="collapse">
                        <div class="card-body">
                            You can buy them at the Silicon Valley Montery Bay Council Scout Shop at
                            <a href="https://www.google.com/maps/place/970+W+Julian+St,+San+Jose,+CA+95126/">
                                970 West Julian Street, San Jose, CA 95126</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}