{% extends "base.html" %}

{% block main %}
<div class="row col-lg-12" id="loading">
	<div class="box w-100">
		<div class="col-lg-12" id="loading-inner">
			<h2 class="primary-heading">Loading...</h2>
			<p class="text-muted">Loading...</p>


		</div>
	</div>
</div>
<div class="row col-lg-12 hidden" id="badurl-box">
	<div class="box w-100">
		<div class="col-lg-12" id="badurl">
			<h2 class="primary-heading">400 Bad Request</h2>
			<p class="text-muted">This page can only be accessed with links sent via email. You can manage your account (after logging in) <a href="manage.html">here</a>.</p>


		</div>
	</div>
</div>
<div class="row col-lg-12 hidden" id="pw-reset-box">
	<div class="box w-100">
		<div class="col-lg-12 hidden" id="pw-reset">
			<h2 class="primary-heading">Reset Password</h2>

			<div class="form-group">
				<label for="pw-reset-email">Email address:</label>
				<input type="email" class="form-control" id="pw-reset-email" placeholder="Enter your email...">
				<div class="invalid-feedback" id="em-validation-invalid">
					You must enter the same email address as both the account you are updating the password for and the email where you received the password reset email.
				</div>

			</div>
			<div class="form-group">
				<label for="pw-reset-password">New Password:</label>
				<input type="password" class="form-control" id="pw-reset-password" placeholder="Enter your password...">
				<div class="invalid-feedback pw-validation" id="pw-validation-none">
					Please enter a password.
				</div>
				<div class="invalid-feedback pw-validation hidden" id="pw-validation-strength">
					Please enter a stronger password. Try adding numbers, uppercase and lowercase letters, and special characters.
				</div>
			</div>
			<div class="form-group">
				<label for="pw-reset-confirm-password">Confirm New Password:</label>
				<input type="password" class="form-control" id="pw-reset-confirm-password" placeholder="Confirm password...">
				<div class="invalid-feedback pw-validation">
					Enter a matching password!
				</div>
			</div>
			<button class="btn btn-primary btn-block" id="pw-update">Update Password</button>
			<p class="text-danger" id="error"></p>
		</div>
		<div class="col-lg-12 hidden" id="check-email">
			<h2 class="primary-heading">Email Verified</h2>
			<p>Your email has been successfully verified.</p>
			<button class="btn-primary btn-block">Click here to finish setting up your account.</button>

		</div>
		<div class="col-lg-12 hidden" id="unknown-error">
			<h2 class="primary-heading">Email Change Reversed</h2>
			<p></p>

		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
<script id="scripts">
	if (getQuery("mode") == null || getQuery("oobCode") == null) {
		$("#loading").addClass("hidden");
		$("#badurl-box").removeClass("hidden");
	} else {
		// Get the action to complete.
		var mode = getQuery('mode');

		// Get the one-time code from the query parameter.
		var actionCode = getQuery('oobCode');

		//  Get the continue URL from the query parameter if available.
		var continueUrl = getQuery('continueUrl');

		//  Get the language code if available.
		var lang = getQuery('lang') || 'en';

		// Handle the user management action.
		switch (mode) {
			case 'resetPassword':
				// Display reset password handler and UI.
				handleResetPassword(auth, actionCode, continueUrl, lang);
				break;
			case 'recoverEmail':
				// Display email recovery handler and UI.
				handleRecoverEmail(auth, actionCode, lang);
				break;
			case 'verifyEmail':
				// Display email verification handler and UI.
				handleVerifyEmail(auth, actionCode, continueUrl, lang);
				break;
			default:
				// Error: invalid mode.
				$("#loading").addClass("hidden");
				$("#badurl-box").removeClass("hidden");
		}
	}
	function handleResetPassword(auth, actionCode, continueUrl, lang) {


		// Verify the password reset code is valid.
		auth.verifyPasswordResetCode(actionCode).then(function(email) {
			$("#pw-update").click(function() {
				$("#loading").addClass("hidden");
				$("#pw-reset-box").removeClass("hidden");
				var invalid = false;
				if (email !== $("#pw-reset-email").val()) {
					$("#pw-reset-email").addClass("hidden");
					$("#em-validation-invalid").removeClass("hidden");
					$("#pw-reset-email").addClass("is-invalid");
					invalid = true;
				}
				if ($("#pw-reset-password").val() !== $("#pw-reset-confirm-password").val()) {
					$("#pw-reset-confirm-password").addClass("is-invalid");
				}

				if (!invalid) {

					auth.confirmPasswordReset(actionCode, newPassword).then(function (resp) {
						// Password reset has been confirmed and new password updated.

						// TODO: Display a link back to the app, or sign-in the user directly
						// if the page belongs to the same domain as the app:
						// auth.signInWithEmailAndPassword(accountEmail, newPassword);

						// TODO: If a continue URL is available, display a button which on
						// click redirects the user back to the app via continueUrl with
						// additional state determined from that URL's parameters.
					}).catch(function (error) {
						// Error occurred during confirmation. The code might have expired or the
						// password is too weak.
						var errortext = "";
						console.log(error);
						switch (error.code) {

							case "TODO":
								$("#em-validation-invalid").addClass("hidden");
								$("#em-validation-inuse").removeClass("hidden");
								$("#email").addClass("is-invalid");
								errortext = "";
								break;
							case "TODO":
								$("#em-validation-inuse").addClass("hidden");
								$("#em-validation-invalid").removeClass("hidden");
								$("#email").addClass("is-invalid");
								break;

							default:
								errortext = "An unknown error occurred. (Code: " + error.code + ")";
						}
						if (errortext != null && errortext !== "") {
							$("#error").html("Error: " + errortext);
						}
					});
				}
			});
		}).catch(function(error) {
			// Invalid or expired action code. Ask user to try to reset the password
			// again.
			// Error occurred during confirmation. The code might have expired or the
			// password is too weak.
			var errortext = "";
			console.log(error);
			switch (error.code) {

				case "TODO":
					$("#em-validation-invalid").addClass("hidden");
					$("#em-validation-inuse").removeClass("hidden");
					$("#email").addClass("is-invalid");
					errortext = "";
					break;
				case "TODO":
					$("#em-validation-inuse").addClass("hidden");
					$("#em-validation-invalid").removeClass("hidden");
					$("#email").addClass("is-invalid");
					break;

				default:
					errortext = "An unknown error occurred. (Code: " + error.code + ")";
			}
			if (errortext != null && errortext !== "") {
				$("#error").html("Error: " + errortext);
			}
		});
	}


</script>
{% endblock %}