{% extends "base.html" %} 

{% block main %}
<div class="row col-lg-12" id="loading">
    <div class="box w-100">
        <div class="col-lg-12" id="loading-inner">
            <h2 class="primary-heading">Loading...</h2>
            <p class="text-muted">Loading...</p>


        </div>
    </div>
</div>
<div class="row col-lg-12 hidden" id="nokey-box">
    <div class="box w-100">
        <div class="col-lg-12" id="nokey">
            <h2 class="primary-heading">Create Account</h2>
			<p class="text-muted">Please contact the webmaster(<a class="webmaster-email">Jeffrey Meng</a>) to get a create link to create your account.</p>


        </div>
    </div>
</div>
<div class="row col-lg-12 hidden" id="main-box">
    <div class="box w-100">
        <div class="col-lg-12 hidden" id="basic-data">
            <h2 class="primary-heading">Create Account</h2>

            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email...">
                <div class="invalid-feedback">
                    Please enter a valid email.
                </div>
                <div class="invalid-feedback hidden">
                    The email provided is already used in an account. <a href="/account/login" class="text-danger">Login</a> instead?
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password...">
                <div class="invalid-feedback pw-validation" id="pw-validation-none">
                    Please enter a password.
                </div>
                <div class="invalid-feedback pw-validation hidden" id="pw-validation-strength">
                    Please enter a stronger password. Try adding numbers, uppercase and lowercase letters, and special characters.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password...">
                <div class="invalid-feedback pw-validation">
                    Enter a matching password!
                </div>
            </div>
            <button class="btn btn-primary btn-block" id="next-btn">Next</button>
            <p class="text-danger" id="error"></p>
            <p id="account-tray" class="text-center"><a href="/account/create.html">Create an account</a> | <a href="/account/forgotpassword.html">Forgot password</a></p>
        </div>
        <div class="col-lg-12 hidden" id="check-email">
            <h2 class="primary-heading">Check your email!</h2>
            <p>We sent a verification email to <b class="orig-email">loading...</b> on <b class="sent-date">loading...</b>. Follow the link on that email to finish setting up your account.</p>

        </div>
        <div class="col-lg-12 hidden" id="unknown-error">
            <h2 class="primary-heading">An Error Occurred</h2>
            <p>If this was unexpected, please contact the webmaster. Code: <span id="unknown-error-text">unknown-error</span></p>

        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script id="scripts">


    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {




            firebase.database().ref("/u/" + user.uid + "/latestverificationemail/").once("value").then(function(snapshot) {
                var data = snapshot.val();
                if (data == null) {
                    sendverificationemail(function(date) {
                        if (date == false) {
                            //error
                            return;
                        }

                    });
                } else {
                    $("#sent-date").text(date.toLocaleString("en-US"))
                }
            });

            $("#resend").click(function() {
                sendverificationemail();

            })
        } else {
            if (getQuery("key") != "test") {
                $("#main-box").remove();
                $("#scripts").remove();
                $("#loading").addClass("hidden");
                $("#nokey-box").removeClass("hidden");
            } else {
                $("#loading").addClass("hidden");
                $("#main-box").removeClass("hidden");
                $("#basic-data").removeClass("hidden");
            }
        }
    });
    function sendverificationemail(callback) {
        var actionCodeSettings = {
            url: "https://www.t485.org/?email=" + firebase.auth().currentUser.email + ((getQuery("continue") != "" && getQuery("continue") != null) ? "&redir=" + getQuery("continue") : "")

        };
        firebase.auth().currentUser.sendEmailVerification(actionCodeSettings)
            .then(function () {
                // Verification email sent.
                $("#loading").addClass("hidden");
                $("#main-box").removeClass("hidden");
                $("#basic-data").addClass("hidden");
                $("#check-email").removeClass("hidden");
                var date = new Date();
                firebase.database().ref("/u/" + user.uid + "/latestverificationemail/").set(date);
                firebase.database().ref("/u/" + user.uid + "/verificationemailhistory/").push(date);
                callback(date);
            }).catch(function (error) {
            $("#loading").addClass("hidden");
            $("#main-box").removeClass("hidden");
            $("#unknown-error-text").text(error.code);
            $("#basic-data").addClass("hidden");
            $("#unknown-error").removeClass("hidden");
            callback(false);
            console.log(error);

        });

    }
    $("#next-btn").click(function () {
        $("#basic-data .form-control").removeClass("is-invalid")
        var email = $("#email").val();
        var password = $("#password").val();
        var confpassword = $("#confirm-password").val();
        $(".orig-email").text(email);
        $("#error").html("");
        var invalid = false;
        if (email.replaceAll(" ", "") == "" || email == null) {
            $("#em-validation-inuse").addClass("hidden");
            $("#pw-validation-none").removeClass("hidden");
            $("#email").addClass("is-invalid");
            invalid = true;
        }
        if (password.replaceAll(" ", "") == "" || password == null) {
            $("#pw-validation-strength").addClass("hidden");//message when weak password
            $("#pw-validation-none").removeClass("hidden");//validation message when no password
            $("#password").addClass("is-invalid");
            invalid = true;
        }
        if (password !== confpassword) {
            $("#confirm-password").addClass("is-invalid")
        }
        if (!invalid) {
            firebase.auth().createUserWithEmailAndPassword(email, password).catch(function (error) {
                switch (error.code) {
                    case "auth/email-already-in-use":
                        $("#em-validation-none").addClass("hidden");
                        $("#pw-validation-inuse").removeClass("hidden");
                        $("#email").addClass("is-invalid");
                        errortext = "";
                        break;
                    case "auth/invalid-email":
                        $("#em-validation-inuse").addClass("hidden");
                        $("#pw-validation-none").removeClass("hidden");
                        $("#email").addClass("is-invalid");
                        break;
                    case "auth/weak-password":
                        //errortext = "The password is not strong enough. Try adding uppercase and lowercase letters, numbers, and special symbols.";
                        $("#pw-validation-strength").removeClass("hidden");
                        $("#pw-validation-none").addClass("hidden");
                        $("#confirm-password").addClass("is-invalid");
                        break;
                    default:
                        errortext = "An unknown error occurred. (Code: " + error.code + ")";
                }
                $("#error").html("Error: " + errortext);

            });
        }
    });


</script>
{% endblock %}