{% extends "base.html" %} 

{% block main %}

<div class="row col-lg-12">
    <div class="box w-100">
        <div class="col-lg-12">
            <h2 class="primary-heading">Create Account</h2>
			<p class="text-muted">You must be a member of Troop 485 to create an account.</p>

            <div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email...">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password...">
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password...">
                </div>
                <button class="btn btn-primary btn-block" id="login">Login</button>
				<p class="text-danger" id="error"></p>
                <p id="account-tray" class="text-center"><a href="/account/create.html">Create an account</a> | <a href="/account/forgotpassword.html">Forgot password</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

	firebase.auth().onAuthStateChanged(function(user) {
		if (user) {
			$("#error").html("");
			if (getQuery("continue") == "" || getQuery("continue") == null) {
				window.location.href = "/account/?ref=create";
			} else {
				window.location.href = getQuery("continue");
			}
		}
	});
    $("#create").click(function() {
        var email = $("#email").val();
        var password = $("#password").val();
        $("#error").html("");
        firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
            $("#error").html("Error: No user was found using that email/password combination(incorrect password for the given email).");
            console.log(3);
        })
        
    });
</script>
{% endblock %}