{% set page = "Login" %}
{% extends "base.html" %} 

{% block main %}

<div class="row col-lg-12">
    <div class="box w-100">
        <div class="col-lg-12">
            <h2 class="primary-heading">Login</h2>
			

            <div>
                
                <button class="btn btn-primary btn-block" id="login">Login via Google</button>
				<p class="text-danger" id="error"></p>
                <p id="account-tray" class="text-center"><a href="/account/create.html">Create an account</a> | <a href="/account/forgotpassword.html">Forgot password</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

	firebase.auth().onAuthStateChanged(function(user) {
		if (user) {
			$("#error").html("");
			if (getQuery("continue") == "" || getQuery("continue") == null) {
				window.location.href = "/account/";
			} else {
				window.location.href = getQuery("continue");
			}
		}
	});
$("#login").click(function() {
	var email = $("#email").val();
	var password = $("#password").val();
	$("#error").html("");
    firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
		$("#error").html("Error: No user was found using that email/password combination(incorrect password for the given email).");
		console.log(3);
    })
	
});
</script>
{% endblock %}