{% set page = "Login" %}
{% extends "base.html" %}

{% block main %}

<div class="row col-lg-12">
	<div class="box w-100">
		<div class="col-lg-12" id="reset-box">
			<h2 class="primary-heading">Reset your password</h2>


			<div>
				<div class="form-group">
					<label for="email">Email address:</label>
					<input type="email" class="form-control" id="email" placeholder="Enter your email...">
					<div class="invalid-feedback" id="em-validation-invalid">
						Please enter a valid email.
					</div>
				</div>

				<button class="btn btn-primary btn-block" id="send">Send Reset Email</button>
				<p class="text-danger" id="error"></p>
				<p id="account-tray" class="text-center"><a href="/account/login.html" id="login-link" class="preserve-state">Login</a> | <a href="/account/create.html" class="preserve-state" id="create-link">Create Account</a></p>
			</div>
		</div>
		<div class="col-lg-12 hidden" id="success-box">
			<h2 class="primary-heading">Success!</h2>


			<div>
				<p>If an account exists with that email, we sent a password reset email to <b class="reset-email"></b>.
					You should receive the email within five minutes. You can also <a id="resend" href="#">Change/Resend the email</a>.</p>

			</div>
		</div>
		<div class="col-lg-12 hidden" id="error-box">
			<h2 class="primary-heading">An Error Occurred!</h2>


			<p>
				<p><span class="error-message">An Unknown error occurred</span> (Code: <span class="error-code">UNKNOWN_ERR</span>).</p>
				<p class="text-center"><a href="/login.html" class="preserve-state">Login</a></p>

			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script>

	if (getQuery("email")) {
		$("#email").val(getQuery("email"));
	}
	$("#send").click(function() {
		$("#error").text("");
		var email = $("#email").val();
		$("#reset-email").text(email);
		firebase.auth().sendPasswordResetEmail(email).then(function() {
			// Email sent.
			$("#reset-box").addClass("hidden");
			$("#success-box").removeClass("hidden");

			console.log("Success");
		}).catch(function(error) {
			var dontlogerr = false;
			switch(error.code) {
				case "auth/user-not-found":
					dontlogerr = true;
					$("#reset-box").addClass("hidden");
					$("#success-box").removeClass("hidden");
				case "auth/invalid-email":
					$("#email").addClass("is-invalid");
					break;
				default:
					$(".error-code").text(error.code);
					$(".error-message").text(error.message);
					$("#reset-box").addClass("hidden");
					$("#error-box").removeClass("hidden");
			}
			// An error happened.
			if (dontlogerr) console.log(error);


			//TODO: show error
		});

	});
	$("#resend").click(function() {
		$("#success-box").addClass("hidden");
		$("#error-box").addClass("hidden");
		$("#reset-box").removeClass("hidden");
	})
</script>
{% endblock %}