{% set page = "Home" %}
{% set title = "" %}
{% extends "base.html" %}
{% block mainOuter %}
<section class="page-section clearfix">
	<div class="container">
		<div class="intro">
			<img alt="" class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/img/index/index_1.png">

			<div class="intro-text left-0 text-center bg-faded p-5 rounded">
				<h2 class="section-heading mb-4">
					<span class="section-heading-upper">Welcome to</span>
					<span class="section-heading-lower">Scouting</span>
				</h2>


				<p class="mb-3">Join scouting today with Boy Scout Troop 485! Scouting is a fun experience for boys 11 to 18 years old. We do all kinds
					of outdoor activities such as camping, swimming, hiking, and backpacking. Learn about our troop and how to
					<a href="/join.html">join</a> today!

				</p>


				<div class="intro-button mx-auto">
					<a class="btn btn-primary btn-xl" href="/join.html">Join Boy Scout Troop 485!</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
